<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>Quiz Flip</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="js/Db.js"></script>
    <script src="js/Quiz.js"></script>
    <script src="js/Question.js"></script>
    <script src="js/Team.js"></script>
    <script src="js/Game.js"></script>
    
    <script src="js/app.js"></script>
    
</head>

<body>

    <div id="vue">

        <header>
            <h1></h1>
        </header>

        <main>
            <div class="btn">
                <button class="btnMoins" v-if="game.teams.length > 0" v-on:click="deleteTeam()">-</button>
                <button class="btnPlus" v-if="game.teams.length < 4" v-on:click="addTeam()">+</button>
            </div>

            <div class="team-Container">
                <article class="team" :data-id="team.id" v-for="team in game.teams"> <!--le avec valeur-->
                    {{ team.name }}<br> {{ team.score }}
                </article>
            </div>

           <div class="quiz-container" v-if="game.teams.length > 0">
               <p v-for="quiz in quizzes">
                   <input type="radio" :id="quiz.quiz_id" :data-id="quiz.quiz_id" name="the_quiz" v-on:change="loadCategories">
                   <label for="">{{ quiz.quiz_theme }}</label>
               </p>
           </div>

           <div class="categories-container" v-if="game.teams.length > 0">
               <p v-for="category in categories">
                   <input class="btn-cat" value="clic" type="button" :id="category.category_id" :data-id="category.category_id" name="the_categories" v-on:click="loadQuestions">
                   <label for="clic">{{ category.category_name }}</label>
               </p>
           </div>

           <div class="questions-container" >
               <p class="dispo_question" v-for="question in questions">
                   {{ question.question_content }}
               </p>
           </div>


            <!--<button id="btn">CLICK ME</button>
            <br>
            <input v-model="pageTitle">
            <br>
            <input v-model="year">-->

        </main>

        <footer class="footer">
            <p>&copy; Copyright ARFP </p>
            <p>Crédits</p>

        </footer>

    </div>

</body>

</html>